<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <h1>ToDo Application</h1>
     <form action="/create" class="border-2 border-zinc-900" method="post">
        <input type="text" name="taskinput">
     </form>
      <% tasks.forEach( (task) =>{ %>
        <% if (task !=='' || task!==' ') { %>
            <div class="flex">
                <h2><%= task %></h2>
                <a href="/delete/<%= task %>"><button>X</button></a>
            </div>
       <% } %>
     <% }) %>
          
   
</body>
</html>